*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position:relative;
}

header {
		width: 80%;
		float: left;
		background-color: blue;
		font-family: helvetica, sans-serif;
		margin: 5% auto;
}

div {
	background-color: 
}